[Unit]
Description=Run backup sync daily at 04:00
Requires=backup-sync.service

[Timer]
OnCalendar=*-*-* 04:00:00
Persistent=true
RandomizedDelaySec=60
Unit=backup-sync.service

[Install]
WantedBy=timers.target
