[Unit]
Description=Run Oracle Backup daily at 03:00
Requires=oracle-backup.service

[Timer]
OnCalendar=*-*-* 03:00:00
Persistent=true
RandomizedDelaySec=120
Unit=oracle-backup.service

[Install]
WantedBy=timers.target
